///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$pink-background: #feccdb;
$pink-btn: #f573a0;
$pink-text: #fb5aa6;
$red: red;
$black: #000;
$white: #fff;

$blue-background: #bef6f5;
$blue-text: #91ffff;

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CANVAS
$canvas-padding: 4px;
$canvas-padding-desktop: 8px;

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FONTS FAMILIES

// Circular Spotify Text Black pour le titre
// Circular Spotify Text Book pour le surtitre
// Circular Spotify Text Black pour le texte des CTA
// Circular Spotify Text Book pour le texte des champs de saisie
// Circular Spotify Text Book pour le texte « Fermer » (ne pas le surligner)

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SIZES
$mobile: 768px;
$desktop: 769px;
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
