@font-face {
  font-family: "CircularSpotifyTxTblack";
  src: url("../fonts/CircularSpotifyTxT-Black.woff2") format("woff2");
}

/* NOT USED
@font-face {
  font-family: "CircularSpotifyTxTBold";
  src: url("../fonts/CircularSpotifyTxT-Bold.woff2") format("woff2");
}
*/

@font-face {
  font-family: "CircularSpotifyTxTBook";
  src: url("../fonts/CircularSpotifyTxT-Book.woff2") format("woff2");
}
