@import "variables";
@import "mixins";

.home-bloc-centrale {
  position: absolute;
  width: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  pointer-events: none;

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

// pochette home only
#home {
  .picture {
    background: linear-gradient(
        180deg,
        rgba(252, 23, 108, 1) 0%,
        rgba(245, 117, 178, 1) 100%
    );
    border-radius: 49.999%;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;

    > img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.pochette {
  background: $pink-background;
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: 1.5s ease-out 2s bottom;
  animation-fill-mode: forwards;

  .canvas-container {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

    background: linear-gradient(
        180deg,
        rgba(252, 23, 108, 1) 0%,
        rgba(245, 117, 178, 1) 100%
    );
    border-radius: 50%;
    padding: $canvas-padding;
  }

  .picture {
    border-radius: 49.999%;
    border: none;
    position: absolute;
    right: $canvas-padding;
    top: $canvas-padding;
    width: calc(100% - (#{$canvas-padding} * 2));
    height: calc(100% - (#{$canvas-padding} * 2));
    z-index: 2;
  }

  @include desktop {
    .picture {
      right: $canvas-padding-desktop;
      top: $canvas-padding-desktop;
      width: calc(100% - (#{$canvas-padding-desktop} * 2));
      height: calc(100% - (#{$canvas-padding-desktop} * 2));
    }
  }

  .name {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: $blue-text;
    font-size: 40px;
    @include font-black;
    word-break: break-word;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}

#home {
  .pochette {
    box-shadow: 1px 5px 15px 2px rgba(0, 0, 0, 0.5);
    width: 80%;
    height: auto;

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }
  }
}

.bloc-name {
  position: absolute;
  top: 105%;

  .pochette-name {
    font-size: 24px;
    white-space: nowrap;
  }
}

@keyframes bottom {
  from {
    bottom: -120%;
  }
  to {
    bottom: 50%;
  }
}

.footer {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
}

@include desktop {
  .home-bloc-centrale {
    margin: 0 auto 100px;

    .bloc-name {
      position: absolute;
      right: 85px;
      bottom: 1%;

      .name {
        font-size: 28px;
      }
    }
  }
  //pochette
  #home {
    .pochette {
      width: 40%;
    }
  }
  .pochette {
    .name {
      font-size: 110px;
    }
  }
  .bloc-name {
    left: 105%;

    .pochette-name {
      font-size: 28px;
      white-space: nowrap;
    }
  }
  .footer {
    bottom: 35px;
    max-width: 1280px;
    margin: 0 auto;
  }
}
