@import "variables";
@import "mixins";
@import "input-range";

#modal-croppie {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .backdrop {
    //display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    //background: rgba(255,255,255, 0.5);
    // done in JS
    background-color: rgba(0, 0, 0, 0.5);
    //pointer-events: none;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 16px;
    text-align: center;

    z-index: 11;
    background: white;
    color: $pink-text;
    border-radius: 16px;
    //min-width: 80%;
    //max-width: 100%;

    h3 {
      font-size: 24px;
      @include font-black;
    }

    #croppie {
      max-width: 600px;
      margin: 16px auto;
    }

    .cr-boundary img {
      max-height: none;
      max-width: none;
    }

    .croppie-container .cr-slider-wrap {
      width: 90%;
      margin: 5px auto;
    }

    .cr-slider-wrap:before {
      content: "Zoomez";
      display: block;
      color: $black;
      @include font-book;
      margin-bottom: -12px;
    }

    #btn-validate-croppie {
      margin-left: 32px;
    }
  }

}
