.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  z-index: 100;
  transform: translate(-50%, -50%);
  .inside {
    padding: 16px;
    text-align: center;
    z-index: 11;
    background: $white;
    border-radius: 16px;
    h3 {
      font-size: 18px;
      color: $pink-text !important;
      padding: 10px 0;
    }
  }
}
.column {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.MuiButton-root {
  font-size: 16px !important;
  line-height: 23px !important;
  padding: 10px 20px !important;
  text-align: center !important;
  font-size: 16px !important;
  line-height: 23px !important;
  padding: 10px 20px !important;
  border-radius: 20px !important;
  border-color: transparent !important;
  text-transform: uppercase !important;
  transition: all 0.2s ease-in-out !important;
  font-style: normal !important;
  font-weight: 900 !important;
  display: inline-flex !important;
  &.secondary {
    border: 1px solid #f573a0 !important;
  }
}
.MuiTypography-overline {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: $pink-text !important;
}
.MuiSlider-root {
  margin-left: 15px;
  color: $pink-text !important;
}
.reactEasyCrop_Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  cursor: move;
}

.reactEasyCrop_Image,
.reactEasyCrop_Video {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  will-change: transform; /* this improves performances and prevent painting issues on iOS Chrome */
}

.reactEasyCrop_CropArea {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 0 0 9999em;
  color: $white;
  overflow: hidden;
}

.reactEasyCrop_CropAreaRound {
  border-radius: 50%;
}

.reactEasyCrop_CropAreaGrid::before {
  content: ' ';
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 33.33%;
  right: 33.33%;
  border-top: 0;
  border-bottom: 0;
}

.reactEasyCrop_CropAreaGrid::after {
  content: ' ';
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  top: 33.33%;
  bottom: 33.33%;
  left: 0;
  right: 0;
  border-left: 0;
  border-right: 0;
}
.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}
